body {
    background-color: #1a1a1a;
    padding: 16px;
}

body #page {
    padding: 75px 0 0 50px;
    /*font-family: Merriweather, Georgia, serif;*/
    font-family: 'DejaVu Serif', Georgia, serif;
    font-size: 1rem;
    line-height: 1.75;
    background-color: white;
    text-rendering: optimizeLegibility;
}

#page h1 {
    font-size: 1.75rem;
}

.content-area {
    width: 70%;
    float: left;
}

.site-title a {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 2.0rem;
    color: #1a1a1a;
    text-decoration: none;
    background-color: transparent;
}

.site-title a:hover {
    color: #007acc;
}

.site-description {
    color: #686868;
}

.entry-title {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    line-height: 1.225;
    padding-top: 1.1em;
    margin-bottom: 1.05em;
}

.entry-title a {
    color: #1a1a1a;
    text-decoration: none;
}

.entry-title a:hover {
    color: #007acc;
}

.entry-content {
    font-size: 1rem;
}

.entry-main {
    /* clear: both; */
    float: left;
    width: 80%;
}

.screen-reader-text {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
}

.entry-footer {
    float: left;
    font-size: 0.8rem;
    width: 20%;
}

.entry-footer-mobile {
    display: none;
}

.entry-footer a {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    color: #686868;
    text-decoration: none;
    background-color: transparent;
}

.entry-footer a:hover {
    text-decoration-line: underline;
    color: #007acc;
    text-decoration-color: #007acc;
}

.sidebar {
    float: left;
    width: 200px;
    padding: 100px 0 0 30px;
    background-color: white;
}

.widget {
    border-top: 4px solid #1a1a1a;
}

.widget-area {
    font-size: 0.8rem;
}

.widget-title {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 1rem;
}

.site-info {
    text-align: center;
    clear: both;
    background-color: #333333;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    background-color: transparent;
}

.site-info a {
    color: #757575;
    text-decoration: none;
}

.site-info a:hover {
    text-decoration-line: underline;
    color: #007acc;
    text-decoration-color: #007acc;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@viewport {
    width: device-width;
}

@media screen and (max-width: 44.375em) {
    body {
        padding: 0;
        margin: 0;
    }

    body #page {
        padding: 30px 20px 0 25px;
    }

    #page h1 {
        font-size: 1.25rem;
    }

    .site-title a {
        font-size: 1.25rem;
    }

    .site-description {
        display: none;
    }

    .content-area {
        width: 100%;
    }

    .entry-title {
        padding-top: 0;
        font-size: 1.25rem;
    }

    .entry-content {
        width: 100%;
        font-size: 0.8rem;
    }
    
    .entry-footer {
        display: none;
    }

    .entry-main {
        width: 100%;
    }

    .entry-main img {
        width: 100%;
    }

    .entry-footer-mobile {
        display: block;
        float: left;
        padding-bottom: 20px;
    }

    .entry-footer-mobile a {
        text-decoration: none;
        color: #686868;
    }

    .widget-area {
        font-size: 0.8rem;
    }
    
    .widget-title {
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        font-size: 0.8rem;
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
    }
}
