<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <div id="page">
        <div class="site">
            <header id="masthead" role="banner">
                <div>
                    <div>
                        <h1 class="site-title"><a href="/" rel="home">{{ .Site.Title }}</a></h1>
                    </div>
                </div>
            </header>
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        {{ block "main" . }}{{ end }}
                    </main>
                </div>
                    
                <aside id="secondary" class="sidebar widget-area" role="complementary">
                    <section class="widget widget_archive">
                        <h2 class="widget-title">アーカイブ</h2>
                        <ul>
                            {{ $burl := .Site.BaseURL }}
                            {{ range (where .Site.RegularPages "Type" "posts").GroupByParamDate "date" "2006/01" }}
                                {{ $key := .Key }}
                                {{ $count := len .Pages }}
                                <li><a href="/archives/{{ $key }}/">{{ $key }}</a>({{ $count }})</li>
                            {{ end }}
                        </ul>
                    </section>
                    <section class="widget widget_categories">
                        <h2 class="widget-title">カテゴリー</h2>
                        <ul>
                            {{ $burl := .Site.BaseURL }}
                            {{ range $term, $tax := (where .Site.Taxonomies.categories "Term" "!=" "") }}
                            {{ $count := .Count }}
                                <li class="cat-item"><a href="/categories/{{ $term }}/">{{ $term }}</a>({{ $count }})</li>
                            {{ end }}
                        </ul>
                    </section>
                    <section class="widget widget_pages">
                        <h2 class="widget-title">固定ページ</h2>
                        <ul>
                            {{ $burl := .Site.BaseURL }}
                            <li class="page_item page-item-2"><a href="/pages/about/">About</a></li>
                            <li class="page_item page-item-2"><a href="/index.xml" target="_blank"><i class="material-icons" style="vertical-align:middle">rss_feed</i>RSS</a></li>
                        </ul>
                    </section>
                </aside>
            </div><!-- end of content, .site-content -->
        </div><!-- .site -->
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
                <a href="/" rel="home">{{ .Site.Title }}</a>
                <a href="https://gohugo.io/" target="_blank">powered by <img src="/images/hugo-logo-wide.svg" alt="Hugo" style="height:20px"></a>
            </div><!-- .site-info -->
        </footer><!-- .site-footer -->
        </div><!-- end of page -->
    </body>
</html>
