{{ define "main" }}
<article style="clear:both">
        <header class="entry-header">
            <h2 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>
        </header>
        <div class="entry-content">
            <footer class="entry-footer">
                <p class="byline">
                    <span class="author vcard">
                        <span class="screen-reader-text">投稿者</span>
                        <a href="#"><i class="material-icons" style="font-size:1rem;vertical-align:middle;padding:2px" title="author">person</i>{{ .Params.author }}</a>
                    </span>
                </p>
                <p class="posted-on">
                    <span class="screen-reader-text">投稿日: </span>
                    {{ $burl := .Site.BaseURL }}
                    {{ $archstr := .Date.Format "2006/01" }}
                    <a href="/archives/{{ $archstr }}/"><i class="material-icons" style="font-size:1rem;vertical-align:middle;padding:2px" title="published date">calendar_today</i>{{ .Date.Format "Jan 2, 2006" }}</a>
                    </p>
                <p class="cat-links">
                    <span class="screen-reader-text">カテゴリー</span><i class="material-icons" style="color:#686868;font-size:1rem;vertical-align:middle;padding:2px" title="categories">folder</i>
                    {{ $burl := .Site.BaseURL }}
                    {{ range $category := .Params.categories }}
                        <a href="/categories/{{ lower $category }}/">{{ $category }}</a>,
                    {{ end }}
                </p>
                <p class="tags-links">
                    <span class="screen-reader-text">タグ</span><i class="material-icons" style="color:#686868;font-size:1rem;vertical-align:middle;padding:2px" title="tags">local_offer</i>
                    {{ $burl := .Site.BaseURL }}
                    {{ range $tag := .Params.tags }}
                        <a href="/tags/{{ lower $tag }}/">{{ $tag }}</a>,
                    {{ end }}
                    </p>
            </footer>
            <div style="float:left;width:80%">
                {{ .Content }}
            </div>
            <div style="clear:both">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </article>
{{ end }}