<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} フィード" href="/index.xml" />
    <!-- Material Icons: https://material.io/tools/icons/ -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- Flickity: Touch, responsive, flickable carousels: https://flickity.metafizzy.co/ -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- Site Specific Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>
